@import 'reactflow/dist/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.react-flow__panel.react-flow__attribution.bottom.right {
  display: none;
}

/* Animated spinner version */
.svg-pi-indicator--spinner {
  animation: spinner 0.75s linear infinite;
  transform-origin: center;
}

/* Spinner animation */
@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
